# Development files
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Git related
.github/**
.git/**

# Dependencies
node_modules/**

# Build output
out/**

# Test files
test/**

# Configuration files
.eslintrc.json
.prettierrc
.markdownlint.yaml

# Backup files
**/*.bak

# Development documentation
docs/development/**
